
.menu {
    float: left;
    width: 20%;
  }
  .menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
  }
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
  }
  .right {
    background-color: lightblue;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
  }
  
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  a:hover {
      background-color:whitesmoke;
    } 
    
   p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, ;
    color: black;
    text-align:left; 
    

   }
   

   .contact{
    text-align: center;
    border: 4px solidwhitesmok;
    border-radius: 20px;
    border: height 12px;
   }   

   .Confidalité{
    text-align: center; 
    color: black;
   }  
   .Case study{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:black;
    text-align:left;   
    text-underline-position: auto;
   }
   p.groove {
    border-style: groove;
   }
   .Etudedecas{
    color:black;
    text-align:justify; 
    text-decoration: dashed;
    text-decoration:underline;
   }
   .law{
    width: 500px;
    height: 500px;
    color:black; 
    font-size: 20px;
    padding: 10px;
    border-radius: 10px; 
    border: 4px  solid black;
   } 
   h3{
    text-align:center; 
    text-decoration: none;
   }
   .our{
    text-align: center;
    color:white; 
    text-decoration: underline;
    text-decoration: dashed;  
    padding-top: 10px 10px 0px 0px;
   } 
.Responsiveness{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: medium;
  font-display: 24px; 
  font-stretch: normal;
  text-align: center; 
  font-synthesis-weight: 25px;
} 


.Element style{
  width:100%; 
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 50%; 
} 

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
}

.image-with-text {
  display: flex;
}

.image-container {
  margin-right: 20px; 
}

.image-container img {
  width: 100px; 
  height: auto; 
}
.image-with-text{
  border: 4px solid ,black; 
  border-radius: 10px;
}
.Role{
  text-align: justify;
}

